@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-color: #EAEAEA;
  --primary-color: #EA1D25;
  --secondary-color: #FFFFFF;
  --text-color: #5C6369;
  --text-color-light: rgba(92, 99, 105, 0.45);
  --positive-variation-color: #87D883;
  --negative-variation-color: #F55A5F;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  margin: 0;
  font-family: "Roboto", sans-serif;
}
